{% extends 'site.html' %}

{% block content %}
<h1 class="mt-5">Content Delay</h1>
<p class="lead">The test is looking for this phrase: <b>Lorem ipsum</b></p>
<p>There is a content loading delay of 5 seconds the measurement will complete when the phrase is detected</p>
<hr>
<h4 class="mt-4">Selenium Code</h4>
<code class="small">open('{{ request.url }}')<br/>
AssertTextPresent('Lorem ipsum')</code>
<hr/>
<div id="lorem"></div>

<script>
    setTimeout("$.ajax({ url: '/lorem', success: function(data) { $('#lorem').html(data);}});", 5000);
</script>
{% endblock %}