{% extends 'site.html' %}
{% set url_split = request.url.split('/') %}
{% block content %}
<h1 class="mt-5">Cookie</h1>
<p class="lead">The test is looking for this phrase: Hello, World! and a cookie value of <code class="small">abc123</code></p>
<p>As long as this is detected then the measurement will complete.</p>
<hr>
<div class="accordion" id="accordionExample">
   <div class="accordion-item">
       <h2 class="accordion-header" id="headingTwo">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Selenium Script
           </button>
       </h2>
       <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
           <div class="accordion-body">
               <pre id="selenium_json"></pre>
           </div>
       </div>
   </div>
</div>
<script>
data = {
   "version":"1.1",
   "name":"SCC - Cookie",
   "url":"{{ url_split[0] }}//{{ url_split[1] }}{{ url_split[2] }}/",
   "urls":[
      "{{ url_split[0] }}//{{ url_split[1] }}{{ url_split[2] }}/"
   ],
   "tests":[
      {
         "name":"SCC - Cookie",
         "url":"{{ url_split[0] }}//{{ url_split[1] }}{{ url_split[2] }}/",
         "commands":[
            {
               "command":"open",
               "target":"/{{ url_split[3] }}/{{ url_split[4] }}",
               "value":"",
               "comment":""
            },
            {
               "command":"setWindowSize",
               "target":"1366x768",
               "value":"",
               "comment":""
            },
            {
               "comment":"Phrase Check",
               "command":"executeScript",
               "target":"var searchText = 'Hello, World!'; var isTextPresent = document.documentElement.innerHTML.includes(searchText); if (isTextPresent != true) { var message = 'Assert text present failed: ' + searchText; throw(new Error(message)); }",
               "value":"10000"
            },
            {
               "comment":"Cookie Check",
               "command":"executeScript",
               "target":"var searchText = 'abc123'; var isTextPresent = document.documentElement.innerHTML.includes(searchText); if (isTextPresent != true) { var message = 'Assert text present failed: ' + searchText; throw(new Error(message)); }",
               "value":"10000"
            }
         ]
      }
   ],
   "suites":[
      {
         "name":"SCC - Cookie",
         "tests":[
         ]         
      }
   ]
}

document.getElementById("selenium_json").innerHTML = JSON.stringify(data, undefined, 2);
</script>
{% endblock %}
