{% extends 'site.html' %}
{% set url_split = request.url.split('/') %}
{% block content %}
<h1 class="mt-5">Default Page</h1>
<p class="lead">The test is looking for a DOM ID</p>
<p>As long as this is detected then the measurement will complete.</p>
<hr>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Selenium Script
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <pre id="selenium_json"></pre>
            </div>
        </div>
    </div>
</div>
<br/>
<div id="lorem"></div>
<script>
data = {
   "version":"1.1",
   "name":"SCC - Default Page",
   "url":"{{ url_split[0] }}//{{ url_split[1] }}{{ url_split[2] }}/",
   "urls":[
      "{{ url_split[0] }}//{{ url_split[1] }}{{ url_split[2] }}/"
   ],
   "tests":[
      {
         "name":"SCC - Default Page",
         "url":"{{ url_split[0] }}//{{ url_split[1] }}{{ url_split[2] }}/",
         "commands":[
            {
               "command":"open",
               "target":"/{{ url_split[3] }}/{{ url_split[4] }}",
               "value":"",
               "comment":""
            },
            {
               "comment":"Check Phrase",
               "command":"waitForElementPresent",
               "target":"id=ajax-div",
               "value":"10000"
            }
         ]
      }
   ],
   "suites":[
      {
         "name":"SCC - Default Page",
         "tests":[
         ]         
      }
   ]
}

document.getElementById("selenium_json").innerHTML = JSON.stringify(data, undefined, 2);

setTimeout("$.ajax({ url: '/lorem', success: function(data) { $('#lorem').html(data);}});", 0);
</script>
{% endblock %}