{% extends 'base.html' %}

{% set conditions = {'Default': 'check', '404': 'exclamation-circle', '500': 'exclamation-triangle',
                     'Validation Error': 'check', 'Content Error': 'bug', 'Large Image': 'image',
                     'Content Delay': 'hourglass-start', 'Timeout': 'hourglass-end', 'Cookie': 'cookie-bite'} %}

{% block content %} 
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 page-header">
                            <div class="page-pretitle">SynCreator</div>
                            <h2 class="page-title">Dashboard</h2>
                        </div>
                    </div>
                    <div class="row">
                        {% for key, value in conditions.items() %}
                        {% set newkey = key|lower|replace(' ', '') %}
                        <div class="col-sm-6 col-md-6 col-lg-4 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="splunk fas fa-{{ value }}"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail">
                                                <p class="detail-subtitle">Condition</p>
                                                <span class="number">{{ key }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <a class="text-decoration-none" href="set/{{ newkey }}">
                                        <button type="button" class="btn btn-sm {% if condition[0] != newkey %}btn-outline-secondary{% else %}btn-splunk{% endif %}">{% if condition[0] == newkey %}Active{% else %}Set Condition{% endif %}</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="splunk fas fa-comment-alt"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail">
                                                <p class="detail-subtitle">Control Group Message</p>
                                                <span class="number">Front end deployment</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <a class="text-decoration-none" href="controlgroup/deploy">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Send Message</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="splunk fas fa-comment-alt"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail">
                                                <p class="detail-subtitle">Control Group Message</p>
                                                <span class="number">Fix for front end bug</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <a class="text-decoration-none" href="controlgroup/fix">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Send Message</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}