{% extends 'site.html' %}
{% set url_split = request.url.split('/') %}
{% block content %}
<h1 class="mt-5">Large Image</h1>
<p class="lead">The test is looking for this DOM ID <b>ajax-div</b></p>
<p>There is a very large image being loaded on this page and the measurement will complete when the DOM ID is detected</p>
<hr>
<div class="accordion" id="accordionExample">
   <div class="accordion-item">
       <h2 class="accordion-header" id="headingTwo">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Selenium Script
           </button>
       </h2>
       <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
           <div class="accordion-body">
               <pre id="selenium_json"></pre>
           </div>
       </div>
   </div>
</div>
<br/>
<div id="ajax-div">
   <img src="{{ url_for('static', filename='img/world.jpg') }}" width="540" alt="World" />
</div>
<script>
data = {
   "version":"1.1",
   "name":"SCC - Large Image",
   "url":"{{ url_split[0] }}//{{ url_split[1] }}{{ url_split[2] }}/",
   "urls":[
      "{{ url_split[0] }}//{{ url_split[1] }}{{ url_split[2] }}/"
   ],
   "tests":[
      {
         "name":"SCC - Large Image",
         "url":"{{ url_split[0] }}//{{ url_split[1] }}{{ url_split[2] }}/",
         "commands":[
            {
               "command":"open",
               "target":"/{{ url_split[3] }}/{{ url_split[4] }}",
               "value":"",
               "comment":""
            },
            {
               "command":"setWindowSize",
               "target":"1366x768",
               "value":"",
               "comment":""
            },
            {
               "comment":"Check Phrase",
               "command":"waitForElementPresent",
               "target":"id=ajax-div",
               "value":"10000"
            }
         ]
      }
   ],
   "suites":[
      {
         "name":"SCC - Large Image",
         "tests":[
         ]         
      }
   ]
}
</script>
{% endblock %}
