<script>
    function docReady(fn) {
        if (
            document.readyState === "complete" ||
            document.readyState === "interactive"
        ) {

            setTimeout(fn, 1);
        } else {
            document.addEventListener("DOMContentLoaded", fn);
        }
    }

    docReady(() => {
        const formElem = document.getElementById("mycart");
        formElem.addEventListener("submit", (e) => {
            e.preventDefault();
            fetch("https://t5ef6xwcxd5aztchfnm7obbcmy0hxogr.lambda-url.eu-west-1.on.aws/", {
                method: "POST",
                body: new FormData(formElem),
            }).then(() => (window.location.href = "cart/checkout"));
        });
    });
</script>