{% extends 'site.html' %}
{% set url_split = request.url.split('/') %}
{% block content %}
<h1 class="mt-5">Validation Error</h1>
<p class="lead">The AssertTextPresent phrase is missing from this page.</p>
<p>This will generate an error and the measurement will fail.</p>
<hr>
<h4 class="mt-4">Selenium Code</h4>
<pre id="selenium_json"></pre>
<script>
data = {
   "version":"1.1",
   "name":"SynCreator",
   "url":"{{ url_split[0] }}//{{ url_split[1] }}{{ url_split[2] }}/",
   "urls":[
      "{{ url_split[0] }}//{{ url_split[1] }}{{ url_split[2] }}/"
   ],
   "tests":[
      {
         "name":"SynCreator",
         "url":"{{ url_split[0] }}//{{ url_split[1] }}{{ url_split[2] }}/",
         "commands":[
            {
               "command":"open",
               "target":"/{{ url_split[3] }}/{{ url_split[4] }}",
               "value":"",
               "comment":""
            },
            {
               "command":"setWindowSize",
               "target":"1366x768",
               "value":"",
               "comment":""
            },
            {
               "comment":"Phrase Check",
               "command":"executeScript",
               "target":"var searchText = 'Lorem ipsum'; var isTextPresent = document.documentElement.innerHTML.includes(searchText); if (isTextPresent != true) { var message = 'Assert text present failed: ' + searchText; throw(new Error(message)); }",
               "value":"10000"
            }
         ]
      }
   ],
   "suites":[
      {
         "name":"SynCreator",
         "tests":[
         ]         
      }
   ]
}

document.getElementById("selenium_json").innerHTML = JSON.stringify(data, undefined, 2);</script>
{% endblock %}