{% extends 'site.html' %}
{% block content %}
<header>
    <div class="navbar">
        <div class="container d-flex justify-content-between">
            <div class="h-free-shipping">Free shipping with $75 purchase! &nbsp;&nbsp;</div>
            <div class="h-controls">
                <div class="h-control">
                    <img src="{{ url_for('static', filename='icons/Hipster_CurrencyIcon.svg') }}" alt="icon"
                        class="icon" />
                    <form method="POST" class="controls-form" action="/setCurrency" id="currency_form">
                        <select name="currency_code" onchange="document.getElementById('currency_form').submit();">

                            <option value="EUR">EUR</option>

                            <option value="USD" selected="selected">USD</option>

                            <option value="JPY">JPY</option>

                            <option value="GBP">GBP</option>

                            <option value="TRY">TRY</option>

                            <option value="CAD">CAD</option>

                        </select>
                    </form>
                    <img src="{{ url_for('static', filename='icons/Hipster_DownArrow.svg') }}" alt="icon"
                        class="icon arrow" />
                </div>
            </div>
        </div>
    </div>
    <div class="navbar sub-navbar">
        <div class="container d-flex justify-content-between">
            <a href="{{ url_for('scc.view', username=settings[4] )}}" class="navbar-brand d-flex align-items-center">
                <img src="{{ url_for('static', filename='icons/Hipster_NavLogo.svg') }}" alt="logo" class="logo" />
            </a>
            <div class="controls">
                <a href="/cart">
                    <img src="{{ url_for('static', filename='icons/Hipster_CartIcon.svg') }}" alt="cart-icon"
                        class="logo" />
                    <span>Cart

                        <span class="badge badge-blue">1</span>

                    </span>
                </a>
            </div>
        </div>
    </div>
</header>
<main role="main" class="cart">
    <div class="cart-bg">
        <div class="container py-3 px-lg-5 py-lg-5">
            <div class="row mb-3 py-2">
                <div class="col">
                    <h3>1 item in your cart</h3>
                </div>
                <div class="col text-right">
                    <form method="POST" action="/cart/empty">
                        <button class="btn btn-secondary empty-btn" type="submit">Empty cart</button>
                        <a class="btn btn-info" href="/" role="button">Keep browsing</a>
                    </form>

                </div>
            </div>

            <div class="product-item">
                <div class="row pt-2 mb-2">
                    <div class="col text-right image">
                        <a href="/product/OLJCESPC7Z"><img class="img-fluid"
                                src="{{ url_for('static', filename='img/products/typewriter.jpg') }}" /></a>
                    </div>
                    <div class="col text-left text">
                        <h4>Vintage Typewriter</h4>
                        <p><small class="text-muted">SKU: #OLJCESPC7Z</small></p>
                        <div class="details">Quantity: 1<br /><strong>USD 67.98</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-2 my-3">
                <div class="col text-center order-summary">
                    <p class="text-muted my-0">Shipping Cost: <strong>USD 4.72</strong></p>
                    Total Cost: <strong>USD 72.71</strong>
                </div>
            </div>

            <div class="row py-3 my-2 checkout">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <h3 class="text-center">Checkout</h3>
                    <form action="cart/checkout" method="GET" id="mycart">
                        <div class="form-row">
                            <div class="col-md-5 mb-3">
                                <label for="email">E-mail Address</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    value="someone@example.com" required>
                            </div>
                            <div class="col-md-5 mb-3">
                                <label for="street_address">Street Address</label>
                                <input type="text" class="form-control" name="street_address" id="street_address"
                                    value="1600 Amphitheatre Parkway" required>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="zip_code">Zip Code</label>
                                <input type="text" class="form-control" name="zip_code" id="zip_code" value="94043"
                                    required pattern="\d{4,5}">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-md-5 mb-3">
                                <label for="city">City</label>
                                <input type="text" class="form-control" name="city" id="city" value="Mountain View"
                                    required>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="state">State</label>
                                <input type="text" class="form-control" name="state" id="state" value="CA" required>
                            </div>
                            <div class="col-md-5 mb-3">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" id="country" placeholder="Country Name"
                                    name="country" value="United States" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="credit_card_number">Credit Card Number</label>
                                <input type="text" class="form-control" id="credit_card_number"
                                    name="credit_card_number" placeholder="0000-0000-0000-0000"
                                    value="4432-8015-6152-0454" required pattern="\d{4}-\d{4}-\d{4}-\d{4}">
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="credit_card_expiration_month">Month</label>
                                <select name="credit_card_expiration_month" id="credit_card_expiration_month"
                                    class="form-control">
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">January</option>
                                </select>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="credit_card_expiration_year">Year</label>
                                <select name="credit_card_expiration_year" id="credit_card_expiration_year"
                                    class="form-control">
                                    <option value="2023">2023</option>
                                    <option value="2024" selected="selected">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                </select>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="credit_card_cvv">CVV</label>
                                <input type="password" class="form-control" id="credit_card_cvv" name="credit_card_cvv"
                                    value="672" required pattern="\d{3}">
                            </div>
                        </div>
                        <div class="form-row center-contents last-row">
                            <button class="btn btn-info" type="submit">Place order</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <section class="recommendations">
            <div class="container">
                <div class="image">
                    <img src="{{ url_for('static', filename='icons/Hipster_OtherProducts.svg') }}" alt="icon" />
                </div>
                <div class="row prods">

                    <div class="col-md-3">
                        <div class="h-card card mb-3 box-shadow">
                            <a href="/product/9SIQT8TOJO">
                                <img alt="" style="width: 100%; height: auto;"
                                    src="{{ url_for('static', filename='img/products/city-bike.jpg') }}">
                                <div class="card-hover"></div>
                            </a>
                            <div class="card-body text-center py-2">
                                <h5 class="card-title h-card-title">
                                    City Bike
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="h-card card mb-3 box-shadow">
                            <a href="/product/LS4PSXUNUM">
                                <img alt="" style="width: 100%; height: auto;"
                                    src="{{ url_for('static', filename='img/products/camp-mug.jpg') }}">
                                <div class="card-hover"></div>
                            </a>
                            <div class="card-body text-center py-2">
                                <h5 class="card-title h-card-title">
                                    Metal Camping Mug
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="h-card card mb-3 box-shadow">
                            <a href="/product/1YMWWN1N4O">
                                <img alt="" style="width: 100%; height: auto;"
                                    src="{{ url_for('static', filename='img/products/barista-kit.jpg') }}">
                                <div class="card-hover"></div>
                            </a>
                            <div class="card-body text-center py-2">
                                <h5 class="card-title h-card-title">
                                    Home Barista Kit
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="h-card card mb-3 box-shadow">
                            <a href="/product/66VCHSJNUP">
                                <img alt="" style="width: 100%; height: auto;"
                                    src="{{ url_for('static', filename='img/products/camera-lens.jpg') }}">
                                <div class="card-hover"></div>
                            </a>
                            <div class="card-body text-center py-2">
                                <h5 class="card-title h-card-title">
                                    Vintage Camera Lens
                                </h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


    </div>
</main>

{% if settings[0] == "security-eskimmer" %}
{% include 'scc/security-eskimmer-js.html' %}
{% endif %}

<footer class="py-5">
    <div class="footer-top">
        <div class="container footer-social">
            <p class="footer-text">© 2020 Google Inc (<a href="https://github.com/signalfx/microservices-demo">Source
                    Code</a>) — </p>
            <p class="footer-text"> This website is hosted for demo purposes only. It is not an actual shop. This is not
                a Google product.</p>
        </div>

    </div>
</footer>
{% endblock %}