{% extends 'base.html' %}
{% block content %}
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <img src="{{ url_for('static', filename='img/splunk-logo-black.png') }}" alt="Splunk logo">
                                </div>
    
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">SynCreator</h1>
                                </div>
                                <form class="user" method="post">
                                    <div class="form-group">
                                        <input type="text" name="username" class="form-control form-control-user"
                                            id="username" aria-describedby="usernameHelp"
                                            placeholder="Enter Username" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control form-control-user"
                                            id="inputPassword" placeholder="Password" required>
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block">
                                        Register
                                    </button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{{ url_for('auth.login') }}">Already have an account? Login!</a>
                                </div>
                                <div class="text-center">
                                    <p class="small">&copy; Splunk 2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}   
    <div class="wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <img class="brand" src="{{ url_for('static', filename='img/splunk-logo-black.png') }}" alt="Splunk logo">
                    </div>
                    <h6 class="mb-4 text-muted">Create a new SynCreator account</h6>
                    <form action="" method="post">
                        <div class="form-group text-left">
                            <label for="username">Username</label>
                            <input type="username" name="username" class="form-control" placeholder="Username" required>
                        </div>
                        <div class="form-group text-left">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <button class="btn btn-splunk shadow-2 mb-4">Register</button>
                    </form>
                    <p class="mb-0 text-muted">Allready have an account? <a href="{{ url_for('auth.login') }}">Log in</a></p>
                    <p class="mt-5 mb-3 text-muted">&copy; Splunk 2022</p>
                </div>
            </div>
        </div>
    </div>
