<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Splunk | SynCreator</title>
    {% if g.user %}
    <link href="{{ url_for('static', filename='vendor/fontawesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/fontawesome/css/solid.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/fontawesome/css/brands.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/master.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/chartsjs/Chart.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/flagiconcss/css/flag-icon.min.css') }}" rel="stylesheet">
    {% endif %}
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% if not g.user %}
    <link href="{{ url_for('static', filename='css/auth.css') }}" rel="stylesheet">
    {% endif %}
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar" class="inactive">
            <div class="sidebar-header">
                <img src="{{ url_for('static', filename='img/splunk-logo-black-small.png') }}" alt="Splunk logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="#authmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-home"></i> Test Type URLs</a>
                    <ul class="collapse list-unstyled" id="authmenu">
                        <li>
                            <a href="{{ request.url }}view/{{ g.user['username'] }}" target="_blank"><i class="fas fa-globe"></i> Real Browser</a>
                        </li>
                        <li>
                            <a href="{{ request.url }}api/v1/{{ g.user['username'] }}/books/all" target="_blank"><i class="fas fa-box-open"></i> API</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="body" class="active">
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light"><i class="fas fa-bars"></i><span></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="" class="nav-item nav-link dropdown-toggle text-secondary" data-toggle="dropdown"><i class="splunk fas fa-cog"></i> <span>Configure Control Group</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i></a>
                                <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                                    <form class="px-4 py-3" method="post" action="/controlgroups">
                                        <div class="mb-3">
                                          <label for="controlgroup" class="form-label">Control Group ID</label>
                                          <input type="text" class="form-control" id="controlgroup" name="controlgroup" placeholder="{{ g.user['control_group'] }}">
                                        </div>
                                        <div class="mb-3">
                                          <label for="posttoken" class="form-label">Post Token</label>
                                          <input type="password" class="form-control" id="posttoken" name="posttoken" value="{%if g.user['post_token'] %} {{ g.user['post_token'] }}{% endif %}">
                                        </div>
                                        <button type="submit" class="btn btn-splunk btn-sm">Save</button>
                                      </form>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="" class="nav-item nav-link dropdown-toggle text-secondary" data-toggle="dropdown"><i class="splunk fas fa-user"></i> <span>{{ g.user['username'] }}</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i></a>
                                <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="{{ url_for('auth.logout') }}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>