<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Splunk | SynCreator</title>
    {% if g.user %}
    <link href="{{ url_for('static', filename='vendor/fontawesome/css/fontawesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/fontawesome/css/solid.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/fontawesome/css/brands.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/master.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/chartsjs/Chart.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/flagiconcss/css/flag-icon.min.css') }}" rel="stylesheet">
    {% endif %}
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% if not g.user %}
    <link href="{{ url_for('static', filename='css/auth.css') }}" rel="stylesheet">
    {% endif %}
</head>
<body>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>