<script src="https://cdn.signalfx.com/o11y-gdi-rum/latest/splunk-otel-web.js" crossorigin="anonymous"></script>
<script src="https://cdn.signalfx.com/o11y-gdi-rum/latest/splunk-otel-web-session-recorder.js" crossorigin="anonymous"></script>
<script>
    SplunkRum.init({
        realm: "{{ settings[1] }}",
        rumAccessToken: "{{ settings[2] }}",
        applicationName: "{{ settings[4] }}-SynCreator-Demo",
        version: "1.0.0",
        deploymentEnvironment: "{{ settings[4] }}-syncreator"
    });
    SplunkSessionRecorder.init({
        realm: "{{ settings[1] }}",
        rumAccessToken: "{{ settings[2] }}"
    });
</script>
<script>
    const Provider = SplunkRum.provider; 
    var tracer=Provider.getTracer('appModuleLoader');
</script>