
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TestPage - Site Condition Creator</title>
    <!-- Bootstrap core CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"  media="screen"/>
    <meta name="theme-color" content="#7952b3">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/cover.css') }}"  media="screen"/>
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <img src="{{ url_for('static', filename='img/splunk_logo.png') }}" class="float-md-start mb-0" height="30" alt="Splunk Logo" />
        </div>
      </header>
      <main class="px-3">
      {% block content %}{% endblock %}
      </main>
      <footer class="mt-auto text-white-50">
        <p>&copy; Splunk 2021</p>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>  
  </body>
</html>
